<h3 class="text-xl font-bold mb-3 font-montserrat">Get B2B Growth Tips</h3>
<p class="100 mb-4">Join 5,000+ B2B professionals receiving actionable strategies to grow your business.</p>

<iframe src="https://embeds.beehiiv.com/4accc2d7-d322-4ef1-90fa-08951afc19a8?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>

<p class="text-xs mt-3">We respect your privacy. Unsubscribe anytime.</p>